<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
        {% if title %}
            <title>Admin Portal - {{ title }}</title>
        {% else %}
            <title>Admin Portal</title>
        {% endif %}
    </head>
    <body>
        <header class="head">
            <div class="navbar">
                <nav>
                    <ul>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{url_for('home')}}">Log In</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <!--Flashes go below navbar other code -->
        <div class="flex-container2">
            <div>
              {% with messages = get_flashed_messages(with_categories=true)%}
                  {% if messages%}
                      {% for category, message in messages %}
                          <div class = "alert alert-{{ category }}">
                              {{message}}
                          </div>
                      {% endfor%}
                  {% endif%}
              {% endwith %}
              <!--Child HTML content will lie here-->
              {% block content %}{% endblock %}
            </div>
          </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
  </html>
